<ion-card class="ion-no-margin">
  <ion-card-content class="ion-no-margin ion-no-padding">
    <div class="gastos-status">
      <p class="title">Vas gastando</p>
      <div class="container-gasto-total">
        <h2>S/. </h2>
        <h1> 1,080 </h1>
        <span>.80</span>
      </div>
      <div class="container-gasto-faltante">
        <h6>de S/. </h6>
        <h5> 1,380 </h5>
        <span>.80</span>
      </div>
      <div>
        <p style="font-size: smaller;">Faltan gastar <span style="color: var(--ion-color-danger);">S/ 500.00</span> para 5 días</p>
      </div>
      <div class="progress-container">
        <div class="progress-bar" id="myProgressBar"></div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
