<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button slot="icon-only" default-href="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <!-- Otros campos del formulario -->

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" formControlName="confirmPassword" required></ion-input>
    </ion-item>

    <!-- Mensaje de error si las contraseñas no coinciden -->
    <div *ngIf="userForm.hasError('passwordMismatch') && userForm.get('confirmPassword').dirty">
      Las contraseñas no coinciden.
    </div>

    <ion-button expand="full" type="submit">Actualizar</ion-button>
  </form>
</ion-content>


