<ion-header mode="ios">
  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/tabs/profile"
        text="Volver"
        color="primary">
      </ion-back-button>
    </ion-buttons>


    <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | async"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <ion-list ion-list [inset]="true">
      <ion-item>
        <ion-label position="floating">Contraseña Antigua</ion-label>
        <ion-input type="password" formControlName="oldPassword" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" formControlName="password" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Contraseña</ion-label>
        <ion-input type="password" formControlName="confirmPassword" required></ion-input>
      </ion-item>
    </ion-list>
    <!-- Mensaje de error si las contraseñas no coinciden -->
    <ion-note color="danger" class="ion-margin-horizontal" *ngIf="passwordForm.hasError('passwordMismatch') && passwordForm.get('confirmPassword').dirty">
      Las contraseñas no coinciden.
    </ion-note>

    <ion-button
    expand="block"
    type="submit"
    mode="ios"
    shape="round"
    color="tertiary"
    class="ion-padding">Actualizar</ion-button>
  </form>
</ion-content>


