<ion-content class="ion-padding">
  <swiper-container #swiper [autoplay]="false" [modules]="swiperModules" [allowTouchMove] ="false">

    <swiper-slide>

      <form [formGroup]="formLogin" autocomplete="off">
        <ion-grid fixed >

          <ion-row class="ion-padding-bottom">
            <ion-col size="12">
              <div class="auth-logo">
                <app-logo></app-logo>
                <app-eslogan></app-eslogan>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-vertical">
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input aria-label="email" formControlName="email" required mode="ios" type="email"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input aria-label="password" formControlName="password" required mode="ios" type="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-top">
            <ion-col size="12">
              <ion-button expand="block" shape="round" color="dark" (click)="onSubmitLogin()" [disabled]="(isLoading$ | async)" mode="ios">
                <ng-container *ngIf="isLoading$ | async; else inactive">
                  <ion-spinner name="circular"></ion-spinner>
                </ng-container>
                <ng-template #inactive>
                  <span>Iniciar Sesión</span>
                </ng-template>
              </ion-button>
            </ion-col>

            <ion-col size="12">
              <ion-button shape="round" expand="full" fill="outline" color="dark" (click)="showLogOut()" mode="ios">
                Registrarme
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>

    </swiper-slide>

    <swiper-slide>

      <form [formGroup]="formRegister" (ngSubmit)="onSubmitRegister()">
        <ion-grid fixed >

          <ion-row>
            <ion-col size="12">
              <div class="auth-logo">
                <app-logo></app-logo>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-bottom">
            <ion-col>
              <h2 class="ion-no-margin" style="font-weight: 600;">Crear una cuenta</h2>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-vertical">
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Nombres</ion-label>
                <ion-input aria-label="nombres" formControlName="nombres" required mode="ios" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Nombres</ion-label>
                <ion-input aria-label="apellidos" formControlName="apellidos" required mode="ios" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input aria-label="email" formControlName="email" required mode="ios" type="email"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12">
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input aria-label="password" formControlName="password" required mode="ios" type="password"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row class="ion-padding-top">
            <ion-col size="12" class="ion-padding-top">
              <ion-button expand="block" shape="round" color="dark" (click)="onSubmitRegister()" [disabled]="(isLoading$ | async)" [ios]="true" mode="ios">
                <ng-container *ngIf="isLoading$ | async; else inactiveR">
                  <ion-spinner name="circular"></ion-spinner>
                </ng-container>
                <ng-template #inactiveR>
                  <span>Registrarme</span>
                </ng-template>
              </ion-button>
            </ion-col>

            <ion-col size="12">
              <ion-button shape="round" expand="full" fill="outline" color="dark" (click)="showLogIn()" [ios]="true" mode="ios">
                Iniciar Sesión
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
      </form>

    </swiper-slide>

  </swiper-container>

</ion-content>
