<ion-header mode="ios">
  <ion-toolbar >
    <ion-title> {{ cuenta != null ? 'Editar' : 'Nueva'  }} Cuenta</ion-title>
    <ion-buttons  slot="start">
      <ion-button (click)="cerrarModal()"
        text="Volver"
        color="primary"
       >Volver
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"  class="ion-padding">

  <form [formGroup]="cuentaForm" (ngSubmit)="onSubmit()">
    <ion-item>
      <ion-label position="floating">Alias:</ion-label>
      <ion-input formControlName="nombre" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Máximo a consumir ( mensual):</ion-label>
      <ion-input type="number" formControlName="saldoMensualPromedio" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-select formControlName="metas"  label-placement="stacked" label="Metas:">
        <ion-select-option *ngFor="let meta of array_metas" [value]="meta.id">{{meta.nombre}}</ion-select-option>
        <ion-select-option value="Otro">Otro</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="cuentaForm.get('metas').value === 'Otro'">
      <ion-label position="floating">Especifica otra meta:</ion-label>
      <ion-input formControlName="metaOtro" required></ion-input>
    </ion-item>

    <div
      class="ion-padding-top">
      <ion-button
      expand="block"
      type="submit"
      mode="ios"
      shape="round"
      color="tertiary"
      [disabled]="cuentaForm.invalid">Guardar</ion-button>
    </div>
  </form>
</ion-content>
