<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
    <ion-card class="card" >
      <ion-grid fixed >
        <ion-row >
          <ion-col size="12" style="padding-top: 2rem;">
            <app-avatar [user]="usuario"></app-avatar>
          </ion-col>
          <ion-col size="12">
            <ion-list-header>
            <ion-label class="ion-padding-horizontal" style="font-weight: 600;">Configuracion</ion-label>
            </ion-list-header>

            <ion-list [inset]="true" style="padding: 0px;">
              <ion-item [button]="true" (click)="navigateToSettings()" color="light">
                <ion-icon slot="start" name="settings-sharp" ></ion-icon>
                <ion-label>Informacion Personal</ion-label>
               <!--  <ion-icon slot="end" name="chevron-forward-sharp" size="small" mode="md"></ion-icon> -->
              </ion-item>
              <ion-item [button]="true" (click)="navigateToChangePassword()" color="light">
                <ion-icon slot="start" name="lock-closed-sharp" ></ion-icon>
                <ion-label>Cambiar Contraseña</ion-label>
                <!-- <ion-icon slot="end" name="chevron-forward-sharp" size="small" mode="ios"></ion-icon> -->
              </ion-item>
              <ion-item [button]="true" (click)="logout()" color="light">
                <ion-icon slot="start" name="log-out-sharp"></ion-icon>
                <ion-label>Salir</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  <!-- <div class="footer-img">
    <ion-img [src]="'./assets/saludfinanciera/profile.svg'"></ion-img>
  </div> -->
</ion-content>
