<ion-content color="light" scroll-y="false">
  <div class="header-toolbar">
    <ion-toolbar color="tertiary">
      <ion-title class="ion-text-capitalize" class="ion-text-center">
          Perfil
      </ion-title>
    </ion-toolbar>
  </div>
  <div class="container">
    <ion-card class="card ion-ios">
      <ion-grid fixed >
        <ion-row >
          <ion-col size="12" class="ion-padding-vertical" >
            <app-avatar></app-avatar>
          </ion-col>
          <ion-col size="12">
            <ion-list [inset]="true" style="padding: 0px;">
              <ion-item [button]="true" (click)="navigateToSettings()">
                <ion-icon slot="start" name="settings-sharp"></ion-icon>
                <ion-label>Configuracion</ion-label>
                <ion-icon slot="end" name="chevron-forward-sharp" size="small" [ios]="false"></ion-icon>
              </ion-item>
              <ion-item [button]="true" (click)="navigateToChangePassword()">
                <ion-icon slot="start" name="lock-closed-sharp"></ion-icon>
                <ion-label>Cambiar Contraseña</ion-label>
                <ion-icon slot="end" name="chevron-forward-sharp" size="small" [ios]="false"></ion-icon>
              </ion-item>
              <ion-item [button]="true">
                <ion-icon slot="start" name="log-out-sharp"></ion-icon>
                <ion-label>Salir</ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

  </div>
  <div class="footer-img">
    <ion-img [src]="'./assets/saludfinanciera/profile.svg'"></ion-img>
  </div>
</ion-content>
