
.header-toolbar{
  height: 175px;
  width: 100%;
  background-color: var(--ion-color-tertiary);
}
.container{
  position: absolute;
  top:  45px;
  z-index: 20;

}
.card{
  border-radius: 1.25rem!important;
}
.footer-img{
  position: absolute;bottom: 0px;right: 0px;
}


