<ion-header mode="ios">
  <ion-toolbar >
    <ion-buttons  slot="start">
      <ion-button (click)="cerrarModal()"
        text="Volver"
        color="primary"
       >
       <ion-icon name="chevron-back"></ion-icon>
       Volver
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | async"></ion-progress-bar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <h5 class="ion-padding-horizontal ion-text-center">Información Personal</h5>

    <app-avatar-edit [urlImagen] = "urlAvatar"></app-avatar-edit>

    <ion-list ion-list [inset]="true">


    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input formControlName="nombres" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="apellidos" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input formControlName="telefono" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">T. Documento</ion-label>
      <ion-input formControlName="tipoDocumentoIdentidad" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Doc. Identidad</ion-label>
      <ion-input formControlName="documentoIdentidad" required></ion-input>
    </ion-item>
  </ion-list>

    <ion-button
    expand="block"
    type="submit"
    mode="ios"
    shape="round"
    color="tertiary"
    class="ion-padding">Actualizar</ion-button>
  </form>

</ion-content>


