<ion-header mode="ios">
  <ion-toolbar >
    <ion-buttons  slot="start">
      <ion-button (click)="cerrarModal()"
        text="Volver"
        color="primary"
       >
       <ion-icon name="chevron-back"></ion-icon>
       Volver
      </ion-button>
    </ion-buttons>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | async"></ion-progress-bar>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <h5 class="ion-padding-horizontal ion-text-center">Información Personal</h5>

    <div class="ion-padding-top ion-margin-top">
      <div class="container-avatar">
        <div class="container-img ion-padding-bottom">
          <img [src]="urlImagen" alt="Profile" class="img-avatar">

          <div class="btn-editar">
            <ion-fab-button size="small" (click)="onUploadFile()" [disabled]="(isLoading$ | async)">
              <input #fileInput id="fileInput" type="file" (change)="onFileSelected($event)" accept="image/*" class="ion-hide" />
              <ion-icon name="pencil"></ion-icon>
            </ion-fab-button>
          </div>
        </div>
      </div>
    </div>

    <ion-list ion-list [inset]="true">


    <ion-item>
      <ion-label position="floating">Nombres</ion-label>
      <ion-input formControlName="nombres" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Apellidos</ion-label>
      <ion-input formControlName="apellidos" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Teléfono</ion-label>
      <ion-input formControlName="telefono" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">T. Documento</ion-label>
      <ion-input formControlName="tipoDocumentoIdentidad" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Doc. Identidad</ion-label>
      <ion-input formControlName="documentoIdentidad" required></ion-input>
    </ion-item>
  </ion-list>


  <ion-button expand="block" shape="round" color="tertiary" type="submit" class="ion-padding" [disabled]="(isLoading$ | async)" mode="ios">
    <ng-container *ngIf="isLoading$ | async; else inactiveR">
      <ion-spinner name="circular"></ion-spinner>
    </ng-container>
    <ng-template #inactiveR>
      <span>Guardar</span>
    </ng-template>
  </ion-button>
  </form>

</ion-content>


