<ion-header>
  <ion-toolbar>
    <ion-title (click)="openModal()">
      <div style="display: flex;justify-content: center;align-items: center;gap: 0.5rem;">
        <h6 style="margin: 0px;">Febrero 2023</h6>
        <ion-icon name="chevron-down-outline"></ion-icon>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid fixed>
    <ion-row>
        <ion-col size="4">
          <div style="display: flex;justify-content: center;align-items: center;height: 100%;flex-direction: column;">
            <ion-img [src]="'./assets/avatars/av-1.png'" style="padding:0.5rem;"></ion-img>
            <h6>Nelson A.</h6>
          </div>
        </ion-col>
        <ion-col size="8">
          <ion-card>
            <ion-card-content>
              <div class="gastos-status">
                <span>Vas gastando</span>
                <h1>S./ 1, 080.80</h1>
                <h4>de S/1,580.00</h4>
                <h6>Faltan gastar S/ 500.00 para 5 días</h6>
                <div class="progress-container">
                  <div class="progress-bar" id="myProgressBar"></div>
                </div>
              </div>
            </ion-card-content>
          </ion-card>
      </ion-col>
      <ion-col size="12">
        <ion-card>
          <ion-card-content>
            <h2>Mira tu progreso</h2>
            <h3>Vienes gastando S./ 1, 080.80</h3>
            <div>
              
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>







  <ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="block">Block of Content</div>
    </ng-template>
  </ion-modal>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" id="open-modal"  expand="block">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
