
<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">
        Tarjetas
    </ion-title>
    <!-- <ion-progress-bar type="indeterminate" ></ion-progress-bar> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <!-- <section class="ion-padding">
    <div class="header-cuentas">
      <h4>Cuenta</h4>
      <a href="">Ver todas</a>
    </div>
    <div class="container-cuentas">
      <div class="cuenta" *ngFor="let cuenta of array_cuentas">
        <h5>{{cuenta.nombre}}</h5>
        <p>S/.{{cuenta.gasto}}</p>
      </div>
      <div class="btn-add-cuenta">
          <ion-icon name="add-circle" size="large"></ion-icon>
      </div>
    </div>
  </section>

  <div class="container-movimientos">
    <a href=""> PROXIMOS MOVIMIENTOS</a>
  </div> -->

  <!-- <section class="ion-padding">
    <div class="card-historial">
      <div class="historia">

      </div>
    </div>
  </section> -->







  <ion-fab slot="fixed" vertical="bottom" horizontal="end" id="open-modal"  expand="block" >
    <ion-fab-button color="tertiary" (click)="agregar()">
      <ion-img [src]="'./assets/saludfinanciera/gastos_white.svg'" style="padding:2rem;max-width: 136px;margin-right: -20px;"></ion-img>
    </ion-fab-button>
  </ion-fab>




</ion-content>
