<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="news" href="/tabs/news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>Noticias</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="protips" href="/tabs/protips">
      <ion-icon [src]="'./assets/saludfinanciera/pagar_cuenta.svg'" ></ion-icon>
      <ion-label>Consejos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="gastos" href="/tabs/gastos">
      <ion-icon [ngClass]="'icon-gastos'" size="large" [src]="'./assets/saludfinanciera/gastos.svg'"></ion-icon>
      <ion-label>Gastos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tarjetas" href="/tabs/tarjetas">
      <ion-icon [src]="'./assets/saludfinanciera/recordatorio_tc.svg'"></ion-icon>
      <ion-label>Tarjetas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-img [src]="'./assets/avatars/av-1.png'" style="max-height: 2rem;padding-bottom: 4px;padding-top: 4px;"></ion-img>
      <ion-label style="font-size: 10px;">Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
