
<div *ngIf="(person && user)" class="ion-padding-top ion-margin-top">
  <div class="container-avatar">
    <div class="container-img">
      <img [src]="person?.urlAvatar ?? defaultUrlAvatar" alt="Profile" class="img-avatar">

      <div class="btn-editar">
        <ion-fab-button size="small" (click)="onUploadFile()">
          <input #fileInput id="fileInput" type="file" (change)="onFileSelected($event)" accept="image/*" class="ion-hide" />
          <ion-icon name="pencil"></ion-icon>
        </ion-fab-button>
      </div>
    </div>
  </div>

  <div class="container-profile">
    <h6 class="ion-no-margin ion-padding-top" color="dark">{{person?.nombres}}</h6>
    <p class="ion-no-margin" color="medium">{{user?.email}}</p>
  </div>
</div>

<div *ngIf="!(person && user)" class="ion-padding-top ion-margin-top">
  <ion-thumbnail style="margin: auto;padding-bottom: 0.5rem;width: 100px;height: 100px;">
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-thumbnail>

  <ion-label>
    <h3>
      <ion-skeleton-text [animated]="true" style="width: 70%;margin: auto;"></ion-skeleton-text>
    </h3>
    <p>
      <ion-skeleton-text [animated]="true" style="width: 50%;margin: auto;"></ion-skeleton-text>
    </p>
  </ion-label>

</div>


