.container-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  .container-img{
    position: relative;
  }

}

.img-avatar{
  width: 100%;
  max-width: 120px;
  height: auto;
}
.btn-editar{
  position: absolute;
  bottom: 0px;
  right: -15px;
}

