
<div *ngIf="(user)">
  <div class="container-avatar">
    <div class="container-img">
      <img [src]="user?.person?.urlAvatar ?? defaultUrlAvatar" alt="Profile" class="img-avatar">
    </div>
  </div>

  <div class="container-profile">
    <h6 class="ion-no-margin ion-text-center" color="dark" style="font-size: smaller;padding-top: 0.5rem;">{{user?.person?.nombres + ' ' + user?.person?.apellidos}}</h6>
    <p *ngIf="showUser == true" class="ion-no-margin" color="medium" style="font-size: smaller;">{{user?.email}}</p>
  </div>
</div>

<div *ngIf="!(user && user)">
  <ion-thumbnail style="margin: auto;padding-bottom: 0.5rem;width: 100px;height: 100px;">
    <ion-skeleton-text [animated]="true"></ion-skeleton-text>
  </ion-thumbnail>

  <ion-label>
    <h3>
      <ion-skeleton-text [animated]="true" style="width: 70%;margin: auto;"></ion-skeleton-text>
    </h3>
    <p>
      <ion-skeleton-text [animated]="true" style="width: 50%;margin: auto;"></ion-skeleton-text>
    </p>
  </ion-label>

</div>


