.container-avatar{
  display: flex;
  justify-content: center;
  align-items: center;
  .container-img{
    position: relative;

    .img-avatar{
      width: 80px;
      height: 80px;
      margin: auto;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      object-fit: cover;
      border-radius: 50%;
    }
    .btn-editar{
      position: absolute;
      bottom: 0px;
      right: -15px;
    }
  }
}
.container-profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}




