<app-header titulo=""></app-header>






<ion-content [fullscreen]="true">


    <ion-grid fixed>
      <ion-row>
        <ion-col size="12">
          <div class="ion-text-center ion-padding-horizontal">
            <h5 class="title">Registra tus Tarjetas para recibir recordatorios de pago </h5>
          </div>
        </ion-col>
        <ion-col size="12">
          <ion-card mode="ios">
            <ion-card-content >
              <form [formGroup]="tarjetaForm" (ngSubmit)="onSubmit()">

                <h6>DATOS GENERALES</h6>

                <ion-item>
                  <ion-label position="floating">Alias para tu tarjeta</ion-label>
                  <ion-input formControlName="nombre" required></ion-input>
                </ion-item>

                <ion-item >
                  <ion-select mode="ios"
                    label="Banco"
                    label-placement="floating"
                    interface="action-sheet"
                    formControlName="banco"
                    fill="solid" >
                    <ion-select-option value="1">Todos</ion-select-option>
                    <ion-select-option value="2">Días de consumo</ion-select-option>
                    <ion-select-option value="3">Aviso para pagar</ion-select-option>
                    <ion-select-option value="4">Días de retraso</ion-select-option>
                    <ion-select-option value="5">Canceladas</ion-select-option>
                  </ion-select>
                </ion-item>

                <ion-item >
                  <ion-select mode="ios"
                    label="Proveedor Tarjeta"
                    label-placement="floating"
                    interface="action-sheet"
                    formControlName="proveedorTarjeta"
                    fill="solid" >
                    <ion-select-option value="1">Todos</ion-select-option>
                    <ion-select-option value="2">Días de consumo</ion-select-option>
                    <ion-select-option value="3">Aviso para pagar</ion-select-option>
                    <ion-select-option value="4">Días de retraso</ion-select-option>
                    <ion-select-option value="5">Canceladas</ion-select-option>
                  </ion-select>
                </ion-item>


                <ion-item >
                  <ion-select mode="ios"
                    label="Tipo Tarjeta"
                    label-placement="floating"
                    interface="action-sheet"
                    formControlName="tipoTarjeta"
                    fill="solid" >
                    <ion-select-option value="1">Todos</ion-select-option>
                    <ion-select-option value="2">Días de consumo</ion-select-option>
                    <ion-select-option value="3">Aviso para pagar</ion-select-option>
                    <ion-select-option value="4">Días de retraso</ion-select-option>
                    <ion-select-option value="5">Canceladas</ion-select-option>
                  </ion-select>
                </ion-item>

                <h6>CRONOGRAMA DE PAGOS 2024</h6>

                <ion-item >
                  <ion-select mode="ios"
                    label="Fecha cierre"
                    formControlName="tipoCierre"
                    fill="solid" >
                    <ion-select-option value="1">Todos</ion-select-option>
                    <ion-select-option value="2">Días de consumo</ion-select-option>
                    <ion-select-option value="3">Aviso para pagar</ion-select-option>
                    <ion-select-option value="4">Días de retraso</ion-select-option>
                    <ion-select-option value="5">Canceladas</ion-select-option>
                  </ion-select>
                </ion-item>

                <h6>ALERTAS</h6>
                <ion-item >
                  <ion-toggle formControlName="hasNotifyCelular" mode="ios">Móvil</ion-toggle><br /><br />
                </ion-item>
                <ion-item >
                  <ion-toggle formControlName="hasNotifyEmail" mode="ios">Email</ion-toggle><br /><br />
                </ion-item>


                <ion-button expand="full" type="submit" class="ion-margin-top" shape="round" mode="ios">Guardar</ion-button>
              </form>
            </ion-card-content>
          </ion-card>

        </ion-col>
      </ion-row>
    </ion-grid>



</ion-content>
