.title{
  font-weight: bold;
  margin-bottom: 0px;
}
ion-item{
  margin-left: -10px;
}

.bg-hr{
  background-color: teal;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

h6:first-child
{
  margin-bottom: 1.5rem;
}


h6:not(:first-child)
{
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
