<ion-header mode="ios">
  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/main/tabs/tarjetas"
        text="Volver"
        color="primary">
      </ion-back-button>
    </ion-buttons>

    <div [formGroup]="filterGroup">
      <ion-select
        interface="action-sheet"
        justify="space-between"
        fill="solid"
        formControlName="Anio"
        (ionChange)="getFilter($event)"
        justify="end"
        class="custom-ion-select">
      <ion-select-option *ngFor="let year of array_anios"
      [value]="year.value">
        {{ year.nombre }}
      </ion-select-option>
    </ion-select>
  </div>


    <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | async"></ion-progress-bar>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">

  <div class="ion-padding-horizontal ion-margin-top">
    <ion-label>
      <h3>Banco {{tarjeta.banco | titlecase}}</h3>
      <p>{{tarjeta.proveedorTarjeta}}</p>
      <p>{{tarjeta.tipoTarjeta}}</p>
    </ion-label>
  </div>

  <ion-card>
    <ion-card-header [style.background]="periodoActual.estado === '0001'?'#0CBB00':
                (fechaActual< periodoActual.fechaFacturacion?'#FFFFFF':
                (fechaActual< periodoActual.fechaPago?'#FFDE00':
                '#FF0000'))">
      <ion-card-title class="ion-text-center" >
        <h5 class="ion-no-margin"  [style.color]="periodoActual.estado === '0001'?'#FFFFFF':(fechaActual< periodoActual.fechaFacturacion?'#000':
        (fechaActual< periodoActual.fechaPago?'#000':'#FFFFFF'))" >{{tarjeta.nombreTarjeta}}</h5>
      </ion-card-title>
    </ion-card-header>

    <div>
      <ion-segment [scrollable]="true" value="{{periodoActual.mes}}">
        <ion-segment-button *ngFor="let periodo of array_periodo" value="{{periodo.mes}}" (click)="changePeriodo(periodo)">
            <app-periodo-tarjeta [periodo]="periodo" [periodoActual]="periodoActual"  ></app-periodo-tarjeta>
        </ion-segment-button>

      </ion-segment>
    </div>

    <ion-card-content>
      <div class="ion-padding">
        <ion-img [src]="tarjeta.urlTarjetaLogo"></ion-img>
      </div>
      <div class="ion-padding-vertical">
        <div class="ion-text-center" *ngIf="periodoActual.estado !== '0001' && fechaActual< periodoActual.fechaFacturacion">
          <h1 style="font-weight: bolder;margin-bottom: 0px;font-size: 2rem;">TE QUEDAN</h1>
          <span style="font-weight: bolder;font-size: 5rem;line-height: 5rem;">
            {{getDiferenciaFechas(fechaActual,periodoActual.fechaFacturacion ) +1}}
          </span>
          <h1 style="font-weight: bolder;margin-bottom: 0px;font-size: 2rem;">DÍAS DE CONSUMO</h1>
        </div>
        <div class="ion-text-center" *ngIf="periodoActual.estado !== '0001' && fechaActual>periodoActual.fechaFacturacion && fechaActual< periodoActual.fechaPago">
          <h1 style="font-weight: bolder;margin-bottom: 0px;font-size: 2rem;">TE QUEDAN</h1>
          <span style="font-weight: bolder;font-size: 5rem;line-height: 5rem;">{{periodoActual.diasPago + 1}}</span>
          <h1 style="font-weight: bolder;margin-bottom: 0px;font-size: 1rem;text-align: center;">días para Último día de Pago</h1>
        </div>

        <div class="ion-text-center"  *ngIf="periodoActual.estado !== '0001' && periodoActual.diasAtraso > 0 ">
          <span style="font-weight: bolder;font-size: 6rem;line-height: 6rem;">{{periodoActual.diasAtraso}}</span>
          <div>
            <h1 style="font-weight: bolder;margin-bottom: 0px;font-size: 2.5rem;">días</h1>
            <h1 style="font-weight: bolder;margin-bottom: 0px;font-size: 1.5rem;">ATRASO</h1>
          </div>
        </div>
      </div>



      <div class="ion-padding ion-text-center">
        <h6 style="color: #FF0000;" *ngIf="periodoActual.fechaPagoPeriodo != null">
          La fecha en la que realizaste el pago fue: <span style="font-weight: 600;"> {{periodoActual.fechaPagoPeriodo | date:'d'}} de {{periodoActual.fechaPagoPeriodo | date:'MMMM' |titlecase}} del {{periodoActual.fechaPagoPeriodo | date:'y'}}.</span>
        </h6>
        <h6 style="color: #FF0000;" *ngIf="periodoActual.fechaPagoPeriodo == null">
          Los consumos que hagas desde el<span style="font-weight: 600;"> {{periodoSiguiente.fechaDesde | date:'d'}} de {{periodoSiguiente.fechaDesde | date:'MMMM' |titlecase}} del {{periodoSiguiente.fechaDesde | date:'y'}}</span> hasta el <span style="font-weight: 600;">{{periodoSiguiente.fechaHasta | date:'d'}} de {{periodoSiguiente.fechaHasta | date:'MMMM' |titlecase}} del {{periodoSiguiente.fechaHasta | date:'y'}} </span>se factura en el <span style="font-weight: 600;">Siguiente Periodo</span>.
        </h6>
      </div>

      <div class="ion-padding-vertical ion-text-center">
        <h5>
          <ion-icon name="calendar-outline"></ion-icon> Fecha Facturación: {{periodoActual.fechaFacturacion | date:'d'}} de {{periodoActual.fechaFacturacion | date:'MMMM' |titlecase}} del {{periodoActual.fechaFacturacion | date:'y'}}
        </h5>
        <h5 style="font-weight: 600;">
          <ion-icon name="calendar-outline"></ion-icon>  Último día Pago: {{periodoActual.fechaPago | date:'d'}} de {{periodoActual.fechaPago | date:'MMMM' |titlecase}} del {{periodoActual.fechaPago | date:'y'}}
        </h5>
      </div>


      <div class="ion-padding-vertical ion-text-center">
        <ion-chip class="caption-consumo">Consumo</ion-chip>
        <ion-chip class="caption-ruleteo">Ruleteo</ion-chip>
        <ion-chip class="caption-diaPago">Último día pago</ion-chip>
        <ion-chip class="caption-diaAtraso" *ngIf="periodoActual.diasAtraso > 0 && periodoActual.estado =='0002'">Atraso</ion-chip>
      </div>

      <ng-container *ngFor="let item of array_calendario">
        <app-calendario-tarjeta
                                  [hoy]="this.fechaActual"
                                  [anio]="item.anio"
                                  [calendario]="item">
        </app-calendario-tarjeta>
      </ng-container>
    </ion-card-content>
  </ion-card>

</ion-content>
