ion-segment {
  --border-radius: 0;
  border-radius: 0px!important;
}
.caption-consumo{
  background-color: #ACFFA5;text-align: center;color: #000;
}
.caption-ruleteo{
  background-color: #FFE3BE;text-align: center;color: #000;
}
.caption-diaPago{
  background-color: #000000;text-align: center;color: #fff;
}
.caption-diaAtraso{
  background-color: #FF0000;text-align: center;color: #fff;
}

.custom-ion-select {
  font-weight: 700;
  font-size: 1.75rem;

}
