<ion-header >
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">
        Tarjetas
    </ion-title>
    <ion-progress-bar type="indeterminate" *ngIf="isLoading$ | async"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="ion-padding-horizontal ion-margin-top" [formGroup]="filterGroup">
      <ion-select
      label="Estado"
      interface="action-sheet"
      justify="space-between"
      placeholder="Todos"
      fill="solid"
      formControlName="Estado"
      (ionChange)="getFilter($event)"
      value="0001">
      <ion-select-option *ngFor="let estado of array_estado" [value]="estado.value">
        {{ estado.nombre | titlecase}}
      </ion-select-option>
      </ion-select>
  </div>

  <ion-list lines="full" [inset]="true" *ngIf="array_tarjetas.length > 0">
    <ion-item-sliding *ngFor="let tarjeta of array_tarjetas" >

      <ion-item-options side="start">
          <ion-item-option (click)="editTarjeta(tarjeta)">
             <ion-icon slot="icon-only" name="pencil"></ion-icon>
          </ion-item-option>
      </ion-item-options>

      <ion-item  detail="true" detail-icon="caret-forward-outline" (click)="onShow(tarjeta)">
        <ion-icon name="alert-circle-sharp" color="danger" size="large" *ngIf="tarjeta.estado ==='0003'"></ion-icon>
        <ion-icon name="alert-circle-sharp" style="color: #FFDE00;" size="large" *ngIf="tarjeta.estado  ==='0002'"></ion-icon>
        <ion-icon name="checkmark-circle-sharp" color="success" size="large" *ngIf="tarjeta.estado  ==='0001'"></ion-icon>

        <ion-label class="ion-margin-start">
          <h3>{{ tarjeta?.nombreTarjeta }}</h3>
          <p> {{ tarjeta?.tipoTarjeta }} </p>
        </ion-label>

      </ion-item>

      <ion-item-options side="end">
          <ion-item-option color="warning" (click)="enabledDisabled(tarjeta,false)" *ngIf="tarjeta.isActive == true">
            <ion-icon slot="icon-only" name="close-circle-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="success" (click)="enabledDisabled(tarjeta,true)" *ngIf="tarjeta.isActive == false">
            <ion-icon slot="icon-only" name="play-circle-outline"></ion-icon>
          </ion-item-option>
          <ion-item-option color="danger" (click)="delete(tarjeta)" *ngIf="tarjeta.isActive == false">
            <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
          </ion-item-option>

      </ion-item-options>

    </ion-item-sliding>
  </ion-list>


  <ion-list lines="full" [inset]="true" *ngIf="array_tarjetas.length <= 0 && array_tarjetasBase <= 0">
    <ion-item *ngFor="let tarjeta of skeletonOptions" >
      <ion-thumbnail slot="start" style="width: 24px;height: 24px;">
        <ion-skeleton-text [animated]="true" w></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text [animated]="true" style="width: 100%;"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text [animated]="true" style="width: 70%;"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>


  <ion-button
    class="ion-padding-horizontal"
    (click)="addTarjeta()"
    expand="block"
    shape="round"
    color="tertiary">
    Nueva Tarjeta
  </ion-button>
</ion-content>
