<ion-row>
  <ion-col text-center>
      <h3>Seleccione Avatar</h3>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col>
      <swiper-container [options]="avatarSlide">
        <swiper-slide *ngFor="let avatar of avatars">
            <ion-img class="pick-avatar"
                    src="/assets/avatars/{{ avatar.img }}"
                    [ngClass]="{ 'pick-avatar-seleccionado': avatar.seleccionado }"
                    (click)="seleccionarAvatar( avatar )"></ion-img>
        </swiper-slide>
      </swiper-container>
  </ion-col>
</ion-row>
